In [2]:
import pandas as pd

In [5]:
from google_drive_downloader import GoogleDriveDownloader as gdd

data_google_id = '1U7ViygqbIfP5FERN41fvraM5sIf77JMY'
gdd.download_file_from_google_drive(file_id=data_google_id,
                                    dest_path = '.datasets/COVID19_line_list_data.csv',
                                    showsize= True)

Downloading 1U7ViygqbIfP5FERN41fvraM5sIf77JMY into .datasets/COVID19_line_list_data.csv...
352.0 KiB Done.

In [6]:
df = pd.read_csv('.datasets/COVID19_line_list_data.csv')

In [7]:
df.head()

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN
2   3              NaN      1/21/2020  ...          NaN         NaN         NaN
3   4              NaN      1/21/2020  ...          NaN         NaN         NaN
4   5              NaN      1/21/2020  ...          NaN         NaN         NaN

[5 rows x 27 columns]

In [8]:
ages = df['age']

In [10]:
ages

0       66.0
1       56.0
2       46.0
3       60.0
4       58.0
        ...
1080    24.0
1081    35.0
1082     NaN
1083     NaN
1084    70.0
Name: age, Length: 1085, dtype: float64

In [ ]:
ages = ages.dropna()

In [12]:
ages

0       66.0
1       56.0
2       46.0
3       60.0
4       58.0
        ...
1080    24.0
1081    35.0
1082     NaN
1083     NaN
1084    70.0
Name: age, Length: 1085, dtype: float64

In [13]:
ages.mean()

49.483689205219456